backcall==0.2.0
certifi==2021.10.8
click
colorama==0.4.4
decorator==5.0.9
Flask
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet
gunicorn==20.1.0
importlib-metadata
ipykernel==5.5.5
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous
jedi==0.18.0
Jinja2
jupyter-client==6.1.12
jupyter-core==4.7.1
MarkupSafe
matplotlib-inline==0.1.2
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.19
Pygments==2.9.0
python-dateutil==2.8.1
SQLAlchemy
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
Werkzeug
wincertstore==0.2
zipp